@{
  Layout = "_Layout";
}
<div class="well">
  <div id="test">
    <img id='finish-him' src='../img/finishhim.gif' alt='finish him'>
  </div>
  @{
    var player1 = "../img/" + @Model.GetPlayer1() + ".png";
    var player2 = "../img/" + @Model.GetPlayer2() + ".png";
  }

  <img id='player1-img' src='@player1' alt='finish him'>
  <img id='player2-img' src='@player2' alt='finish him'>

  <h2>@Model.GetWinner()</h2>

  <br>
  <h3><a href="/">Play Again</a></h3>
</div>
